Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
Assets/Resources/
Assets/SteamVR/
Assets/SteamVR_Input/
Assets/SteamVR_Resources/
Assets/StreamingAssets/
Assets/ViveSR/
Assets/XR/
Library
